/node_modules
/public/hot
/public/storage
/public/images/sellers/*
/public/images/customers/*
/public/upload/category/*
/public/upload/product/*
/public/upload/productdetails/*
/public/upload/slider/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
